{% extends "base.html" %}

{% block title %} Consent Form {% endblock title %}

{% block content %}
		
	<div style="width: 600px; margin: 0 auto">
		
	<h1> Budget Line Instructions: </h1>	
	
	</br>
		
	<p>
        This is an experiment regarding your preferences.
        Your payoffs will depend partly on your decisions and partly on chance.
        Please pay careful attention to the instructions as a <b>considerable amount of money is at stake.</b>
    </p>
        
    <p>
        In this experiment, you will participate in two rounds of 50 decisions that share a common form. 
    	This section describes in detail the process that will be repeated in all decision problems.
	</p>
    	
	<p>
    	In each decision problem you will be asked to allocate resources between two accounts.
    	One account corresponds to the <b>x-axis</b> and the other to the <b>y-axis</b> in the two-dimensional graph.
    	Each choice will involve choosing a point on a line representing possible resource allocations.
    	Examples of lines that you might face appear below:
	</p>
 		
	<img style="margin: 0 0 0 -153px" src="/static/web/images/web/BudgetLine1.png">
 
	<p>
 		In each choice, you may choose combinatoin of x and y values that appear on the line.	
        For example, as illustrated below, <b>choice A</b> represents a decision to allocate <b>q</b> units in the <b>x account</b> and <b>r</b> units in the <b>y account.</b>
    </p>
    	
    <img src="/static/web/images/web/BudgetLine2.png">	
    	
    <p>	
    	Another possible allocation is <b>choice B</b>, in which you allocate <b>$w</b> in the <b>x account</b> and <b>$z</b> in the <b>y account.</b>
	</p>

    <p>    
        Your payoff at each decision round is determined by the amounts in your <i>x</i> and <i>y</i> accounts.
		At the end of the round, the computer will randomly select one of the accounts, <i>x</i> or <i>y</i>.
		For each participant, account <i>x</i> will be selected with a 50% chance and account <i>y</i> will be selected with a 50% chance.
	    <b>You will only receive the amount you allocated to the account that was chosen.</b>
	</p>    
	    
	<p>
		There are two rounds to be administered: One in-lab component which is to be completed now, and one out-of-lab component that is to be completed on your smartphone.
	    At the end of the last round, you will be informed of what you have won.
	</p>

	<p>
		Your participation in the experiment and any information about your payoffs will be kept strictly conﬁdential.
		You will never be asked to reveal your identity to anyone during the course of the experiment.
		Neither the experimenters nor the other participants will be able to link you to any of your decisions.
		In order to keep your decisions private, please do not reveal your choices to any other participants.
	</p>
		
	<p>
		If you have read and understood these instructions, please proceed to the experiment.
	</p>
		
	<a href="/experiments/budgetline_experiment/" class="green-button">Proceed to Experiment</a>
	
	</div>

{% endblock content %}
