{% extends "base.html" %}

{% block title %} Consent Form {% endblock title %}

{% block content %}

	<div style="width: 475px; margin: 0 auto">	
	
		<h1> Welcome to XLab's Budget Line Experiment!</h1>
	</br>
		<p style="font-size: 1.2em"><b>Before you begin, please make absolutely sure you have read and signed the consent form given to you by the administrators.</b></p>
	</br>
		<a href="/experiments/budgetline_instructions/" class="green-button">I Have Read and Signed the Consent Form</a>

	</div>
	
{% endblock content %}
